Не анализировать Git
Не анализировать Gradle
Не Использовать тесты
Не анализировать и не менять файл с задания Tesklist.txt и другие текстовые файлы с заданиями
Если Java использует if() {...} с одним оператором, то оператор писать в одну строку с if и без {}
код писать совместимый с Android8